<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/header') %>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>

  <link rel="stylesheet" href="/css/styles.css">
</head>
<body style="background-image: url('https://raw.githubusercontent.com/Unonkgw/my-images/c6d40969dd0f26a35a36ace6a61dca87c687533b/orangebeam2.svg');"></body>
    
  <main class="container my-4">
    <h1>Welcome to OrangeBeam Construction</h1> <!-- PLACEHOLDER ONLY-->
    <p>Building strong foundations for the future.</p> <!-- PLACEHOLDER ONLY-->
  </main>

  <%- include('../partials/footer') %>

</body>
</html>
